@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: #1e2c34;
  color: white;
}
.header {
  background-color: #2b3642;
}
.cart {
  background-color: rgba(43, 54, 66, 255);
}
