html {
  background-color: rgb(1, 17, 45);
  color: white;
}
p {
  font-size: 2rem;
}
.header {
  font-size: 1.5rem;
  font-weight: 600;
}
.header > ul > li {
  margin: 10px;
  padding: 10px;
  background-color: lightgreen;
  list-style: none;
  display: inline-block;
  color: black;
}
